html,
body {
    height: 100%;
}

body {
    background-color: rgba(0, 0, 0, 0.03);
}

body,
* {
    font-family: 'Inter' !important;
}

a {
    text-decoration: none;
    color: #f44336;
}

hr {
    height: 1px;
    border: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.github {
    margin-right: 1rem;
}

.sidebar h4 {
    margin-bottom: 0.7rem;
}

.main-row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
}

.posts {
    margin-left: 3rem;
    width: 75%;
    margin-right: 1rem;
}

@media screen and (max-width: 880px) {
    .sidebar {
        margin-left: 0 !important;
        /* width: 100%; */
    }
    .sidebar .makeStyles-root-10 {
        width: 100vh;
        text-align: center;
    }
    .main-row {
        flex-wrap: wrap;
    }
    .posts {
        margin-top: 2rem;
        margin-left: 0;
        width: 90%;
        margin-right: 0;
    }
}

@media screen and (max-width: 1533px) {
    .sidebar {
        margin-left: 2rem;
    }
}

.MuiButton-label {
    font-weight: 500 !important;
}

.row {
    display: flex;
}

input {
    background-color: transparent;
    border: none;
    color: white;
    outline: 0;
}

.title {
    word-break: break-word;
}

.main-image {
    width: 500px
}

@media screen and (max-width: 865px) {
    .main-image {
        width: 100%;
    }
}